@typeparam T
<!--suppress CssUnresolvedCustomProperty, CssUnusedSymbol -->
@* ReSharper disable  AssignmentInsteadOfDiscard *@
<FluentKeyCode OnKeyDown="@OnKeyDownAsync" OnKeyUp="@OnKeyUpAsync" IgnoreModifier="false" tabindex="0"
               Only="[KeyCode.Function3, KeyCode.KeyF, KeyCode.Ctrl]" StopPropagation="true" StopRepeat="true">

    <div class="GridContainer">
        <FluentToolbar Class="datagrid-toolbar">
            <FluentSearch @bind-Value=_searchValue AriaLabel="Search" Placeholder="@(Captions.Instance.Search + "...")"
                          Style="width: 300px;"
                          Immediate="true" ImmediateDelay="500"
                          @bind-Value:after=HandleSearchInput @ref="SearchBarRef" />
            <FluentSpacer />
            @if (Selected.Count > 0)
            {
                <FluentLabel Typo="Typography.Body" Style="color: var(--neutral-foreground-hint); margin-right: 8px;">
                    @Selected.Count selected
                </FluentLabel>
            }
            @if (ShowExportToExcel)
            {
                <FluentButton slot="end" Appearance="Appearance.Stealth" OnClick="ExportToExcel" Title="@Captions.Instance.ExportExcel"
                              IconStart="@(new Icons.Regular.Size20.DocumentTableArrowRight())">
                </FluentButton>
            }
        </FluentToolbar>
        @if (VisibleFields.Count > 0)
        {
            <div class="datagrid-table-wrapper">
                <FluentDataGrid Items="@FilteredData"
                                TGridItem="T"
                                ResizableColumns="true"
                                Virtualize="UseVirtualization"
                                GenerateHeader="GenerateHeaderOption.Sticky"
                                DisplayMode="DataGridDisplayMode.Table"
                                ShowHover="@true"
                                HeaderCellAsButtonWithMenu="true"
                                OnCellClick="@HandleCellClick"
                                OnRowDoubleClick="@HandleRowDoubleClick"

                                Style="min-height: 120px"
                                ItemSize="44"
                                RowSize="DataGridRowSize.Medium"
                                ResizeType="DataGridResizeType.Discrete"
                                ResizeColumnOnAllRows="false"
                                Id="table">

                    <SelectColumn TGridItem="T"
                                  SelectMode="DataGridSelectMode.Multiple"
                                  SelectFromEntireRow="false"
                                  SelectedItems="@_selectedSnapshot"
                                  SelectAll="@_selectAll"
                                  OnSelect="@HandleSelectionChange"
                                  SelectAllChanged="@HandleSelectAllChanged"
                                  Width="50px"
                                  MinWidth="50px" />

                    @if (_gridActionsCount > 0)
                    {
                        <TemplateColumn Title="&nbsp;" Align="@Align.Center" Width="30px" MinWidth="30px" Style="padding: 0 !important;">
                            <ChildContent>
                                <FluentIcon Value="@(new Icons.Regular.Size16.MoreVertical())" Id="@(context.GetHashCode().ToString())" OnClick="@((_) => { CurrRec = context; })">
                                </FluentIcon>
                                <div class="datagrid-context-menu">
                                    <FluentMenu Anchor="@context.GetHashCode().ToString()"
                                                Trigger="MouseButton.Left" Anchored="true"
                                                VerticalThreshold="@(GridActions.Count() * 40)" VerticalInset="false"
                                                @ref="@GridActionRef" UseMenuService="false">
                                        @foreach (var a in GridActions)
                                        {
                                            <FluentMenuItem Label="@a.Attribute.Caption" OnClick="@((_) => { if (GridActionRef != null) GridActionRef.Open = false; ReflectionUtilites.InvokeAction(a.Method, Context, [CurrRec!]); })">
                                                <span slot="start">
                                                    <FluentIcon Value="@(a.Attribute.GridIcon.ToFluentIcon())" Slot="start" />
                                                </span>
                                            </FluentMenuItem>
                                        }
                                    </FluentMenu>
                                </div>
                            </ChildContent>
                        </TemplateColumn>
                    }

                    @foreach (var field in VisibleFields)
                    {
                        <TemplateColumn Context="data"
                                        Sortable="true"
                                        Title="@field.Caption"
                                        SortBy="GridSort<T>.ByAscending(p => field.InternalGet(p))"
                                        Filtered="@(!string.IsNullOrWhiteSpace(GetFilterValue(field.Name)))"
                                        Width="auto">
                            <ChildContent>
                                <FormField IsTableCell="true" Data="data" Field="field" T="T" />
                            </ChildContent>
                            <ColumnOptions>
                                <div class="search-box">
                                    @{
                                        GetFilterValue(field.Name);
                                        var name = field.Name;
                                    }
                                    <FluentSearch type="search" Autofocus=true
                                                  @bind-Value:get="(FieldFilters[name])"
                                                  @bind-Value:after="() => HandleClear(field)"
                                                  @oninput="(e) => HandleFilter(e, field)"
                                                  Placeholder="@field.Caption" />
                                </div>
                            </ColumnOptions>
                        </TemplateColumn>
                    }

                    @if ((PermissionSet!.Modify) || (PermissionSet!.Delete) || (PermissionSet!.Insert))
                    {
                        <TemplateColumn Title="Actions" Align="@Align.Center" Width="110px">
                            <ChildContent>
                                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="4">
                                    @if (PermissionSet!.Modify)
                                    {
                                        <FluentButton IconEnd="@(new Icons.Regular.Size16.Edit())" Appearance="Appearance.Stealth" OnClick="@(() => EditAsync(context))" Title="Edit" />
                                    }
                                    @if (PermissionSet!.Delete)
                                    {
                                        <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())" Appearance="Appearance.Stealth" OnClick="@(() => HandleDelete(context))" Title="Delete" />
                                    }
                                </FluentStack>
                            </ChildContent>
                            <HeaderCellItemTemplate>
                                @if (PermissionSet!.Insert)
                                {
                                    <div class="datagrid-header-add-btn">
                                        <FluentButton IconEnd="@(new Icons.Regular.Size16.Add())" Appearance="Appearance.Accent" OnClick="@(() => NewItem())" Title="Add new" />
                                    </div>
                                }
                            </HeaderCellItemTemplate>
                        </TemplateColumn>
                    }
                </FluentDataGrid>
            </div>
        }
        else
        {
            <div class="datagrid-loading">
                <FluentProgressRing />
            </div>
        }
    </div>
</FluentKeyCode>