@using BlazorEngine.Security
@inject IMainLayout MainLayout

<ErrorBoundary @ref="_errorBoundary">
  <ChildContent>
    <Router AppAssembly="@AppAssembly" AdditionalAssemblies="@AdditionalAssemblies" @rendermode="BlazorGenRenderMode">
      <Found Context="routeData">
        <BlazorEngineSecurity RouteData="@routeData">
          <RouteView RouteData="@routeData" DefaultLayout="@MainLayout.GetType()"></RouteView>
        </BlazorEngineSecurity>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
      </Found>
      <NotFound>
        <PageTitle>@Captions.Instance.NotFound</PageTitle>
        <LayoutView Layout="@MainLayout.GetType()">
          <p role="alert">@Captions.Instance.NotFoundMessage</p>
        </LayoutView>
      </NotFound>
    </Router>
  </ChildContent>
  <ErrorContent>
    <FluentDialog @ref="_myFluentDialog" aria-label="Error!" Modal=@false TrapFocus=@true>
      <FluentDialogBody>
        <TitleTemplate>@Captions.Instance.ErrorTitle</TitleTemplate>
        <ChildContent>
          <b>@Captions.Instance.ErrorMessage</b><br/>
          <i>@Captions.Instance.ErrorMessagePersist</i><br/><br/>
          <FluentAnchorButton Appearance="ButtonAppearance.Subtle" Href="#" Id="det" OnClick="@(() => CreateExceptionDetails(context))">@Captions.Instance.ErrorCopyDetails</FluentAnchorButton>
        </ChildContent>
        <ActionTemplate>
            <FluentButton Appearance="ButtonAppearance.Primary" OnClick="@(() => NavManager!.NavigateTo("/", true))">@Captions.Instance.ErrorHomePage</FluentButton>
            <FluentSpacer></FluentSpacer>
            <FluentButton Appearance="ButtonAppearance.Primary" Autofocus="true" @onclick="() => _errorBoundary?.Recover()">@Captions.Instance.ErrorRefresh</FluentButton>

        </ActionTemplate>
      </FluentDialogBody>

    </FluentDialog>
    @{
      _myFluentDialog?.ShowAsync();
    }
  </ErrorContent>
</ErrorBoundary>

<link href="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.bundle.scp.css" rel="stylesheet" />


<script>
  window.downloadFileFromStream = async (fileName, contentStreamReference) => {
    const arrayBuffer = await contentStreamReference.arrayBuffer();
    const blob = new Blob([arrayBuffer]);
    const url = URL.createObjectURL(blob);
    const anchorElement = document.createElement('a');
    anchorElement.href = url;
    anchorElement.download = fileName ?? '';
    anchorElement.click();
    anchorElement.remove();
    URL.revokeObjectURL(url);
  }

</script>
