@inherits LayoutComponentBase
@implements IMainLayout

@* TODO:TBR <FluentDesignTheme OfficeColor="@(BlazorEngineSettings.Instance.BaseColor)" @ref="Theme" StorageName="UITheme">*@
<FluentLayout>
  <FluentLayoutItem Area="LayoutArea.Header">
    <Back></Back>
    <FluentSpacer/>
    @BlazorEngineSettings.Instance.ApplicationName
    <FluentSpacer/>
    <div
      style="padding-right: 6px; margin-left: 0; margin-right: -15px; display: flex; flex-direction: row; gap: 5px; flex-wrap: nowrap;">
      <FluentButton Appearance="ButtonAppearance.Subtle" OnClick="SwitchDarkLightTheme"
                    Title="@Captions.Instance.ToggleDarkTheme">
        <FluentIcon Value="@(new Icons.Regular.Size20.DarkTheme())" Color="Color.Default"
                    Title="@Captions.Instance.ToggleDarkTheme"/>
      </FluentButton>
      @if (BlazorEngineSettings.Instance.ShowLogButton)
      {
        <Log/>
      }
      @if (BlazorEngineSettings.Instance.ShowBackgroundTasks)
      {
        <BackgroundExecutorButton/>
      }
      @if (BlazorEngineSettings.Instance.ShowHelpButton)
      {
        <FluentButton BackgroundColor="var(--neutral-fill-stealth-rest)" Title="Help"
                      OnClick="@(() => HelpService?.GetHelp((Body?.Target as RouteView)!.RouteData.PageType))">
          <FluentIcon Value="@(new Icons.Regular.Size20.Question())" Color="Color.Default" Title="Help"/>
        </FluentButton>
      }
    </div>
  </FluentLayoutItem>
  <FluentLayoutItem Area="LayoutArea.Aside">
    <NavMenu/>
  </FluentLayoutItem>
  <FluentLayoutItem Area="LayoutArea.Content">
    <ProgressBar></ProgressBar>
    <UILock></UILock>
    <div class="content" style="display: flex; flex-direction: column; height: 100%; flex-flow: column;">
      @Body
    </div>
  </FluentLayoutItem>
</FluentLayout>

@*</FluentDesignTheme>*@


<FluentProviders/>
