@using BlazorEngine.Enum
@typeparam T

@if (IsTableCell)
{
  var link = Field.Href?.Invoke(Data) ?? "";
  var style = "";
  var fldStyle = Field.TextStyle?.Invoke(Data) ?? TextStyle.Normal;
  switch (fldStyle)
  {
    case TextStyle.Normal:
      style = "";
      break;
    case TextStyle.Bold:
      style = "font-weight: bold;";
      break;
    case TextStyle.Italic:
      style = "font-style: italic;";
      break;
    case TextStyle.Underline:
      style = "text-decoration: underline;";
      break;
    case TextStyle.Strikethrough:
      style = "text-decoration: line-through;";
      break;
  }
  var color = Field.Color?.Invoke(Data);
  if (color != null)
    style += "color: " + color.ToAttributeValue() + ";";
  @if (string.IsNullOrEmpty(link))
  {
    if (Field.FieldType == typeof(Type))
    {
      <!--suppress CssUnresolvedCustomProperty -->
      <FluentIcon Value="@((Field.InternalGet(Data) as Type)?.ToFluentIcon())"></FluentIcon>
    }
    else if (Field.FieldType == typeof(bool))
    {
      <FluentCheckbox Value="@(Convert.ToBoolean(Field.InternalGet(Data)))" ReadOnly="true" />
    }
    else
    {
      <span title="@Field.InternalGet(Data)" style="@style">@Field.InternalGet(Data)</span>
    }
  }
  else
  {
    <a href="@link" title="@Field.InternalGet(Data)" style="@style">
      @if (Field.FieldType == typeof(Type))
      {
        <FluentIcon Value="@((Field.InternalGet(Data) as Type)?.ToFluentIcon())"></FluentIcon>
      }
      else
      {
        @Field.InternalGet(Data)
      }
    </a>
  }
}
else
{
  @if (ShowLabel)
  {
    <FluentInputLabel ForId="@_id" Label="@Field.Caption"
                      AriaLabel="@Field.Caption" Required="@Field.Required"
                      id="@(_id+"-Label")"
                      Title="@(Field.Tooltip ?? Field.Caption)" />

    <div style="flex-grow: 1; margin-bottom: calc(var(--design-unit)* 1px);"></div>
  }

  @if (Field.FieldType == typeof(bool))
  {
    <div class="AfterFullSpanWidth">
      <FluentCheckbox Value="@(Convert.ToBoolean(Field.InternalGet(Data)))" ValueChanged="(val) => Field.InternalSet(Data, val)" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                      @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
    </div>
  }
  else if (Field.FieldType == typeof(short))
  {
    <FluentNumberField TValue="short" Value="@(Convert.ToInt16(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(ushort))
  {
    <FluentNumberField TValue="ushort" Value="@(Convert.ToUInt16(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(int))
  {
    <FluentNumberField TValue="int" Value="@(Convert.ToInt32(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(uint))
  {
    <FluentNumberField TValue="uint" Value="@(Convert.ToUInt32(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(long))
  {
    <FluentNumberField TValue="long" Value="@(Convert.ToInt64(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(ulong))
  {
    <FluentNumberField TValue="ulong" Value="@(Convert.ToUInt64(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(float))
  {
    <FluentNumberField TValue="float" Value="@(Convert.ToSingle(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(double))
  {
    <FluentNumberField TValue="double" Value="@(Convert.ToDouble(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(decimal))
  {
    <FluentNumberField TValue="decimal" Value="@(Convert.ToDecimal(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val))" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
  }
  else if ((Field.FieldType == typeof(string)))
  {
    if (Field.Multiline)
    {
      <FluentTextArea Rows="4" Value="@Field.InternalGet(Data)?.ToString()" ValueChanged="(val) => Field.InternalSet(Data, val)" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                      @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder"></FluentTextArea>
    }
    else
    {
      <FluentTextField Value="@Field.InternalGet(Data)?.ToString()" ValueChanged="(val) => Field.InternalSet(Data, val)" ChildContent="@DrillDownOrLookup(this)" @onclick="GenericOnClick"
                       TextFieldType="@Field.TextFieldType" @attributes="@_commonAttributes" Placeholder="@Field.PlaceHolder" />
    }
  }
  else if (Field.FieldType == typeof(DateTime))
  {
    <FluentDatePicker @attributes="@_commonAttributes" Value="@(Convert.ToDateTime(Field.InternalGet(Data)))" ValueChanged="@((val) => Field.InternalSet(Data, val!))" Placeholder="@Field.PlaceHolder" />
  }
  else if (Field.FieldType == typeof(Type))
  {
    <FluentIcon Value="@((Field.InternalGet(Data) as Type)?.ToFluentIcon())"></FluentIcon>
  }
  else if (Field.FieldType == typeof(Action))
  {
    <FluentButton OnClick="() => Field.InternalSet(Data, null)" @attributes="@_commonAttributes">@Field.Caption</FluentButton>
  }
  else if (Field.FieldType == typeof(Dictionary<object, string>))
  {
    _commonAttributes["Appearance"] = Appearance.Filled;
    //var values = Field.OnLookup?.Invoke(Data) ?? new Dictionary<object, string>();
    var values = (Field.InternalGet(Data) as Dictionary<object, string>) ?? new Dictionary<object, string>();
    <FluentCombobox Id="@_id" Placeholder="@Field.PlaceHolder" Autocomplete="ComboboxAutocomplete.Inline" @attributes="@_commonAttributes" @oninput="@((args) => Field.InternalChange(Data, ((string)args.Value)?.ToString()))" Immediate TOption="string">
      @foreach (var item in values)
      {
        <FluentOption OnSelect="@(() => Field.InternalSet(Data, new Dictionary<object, string>(){ { item.Key, item.Value } }))">
          @((MarkupString)item.Value)
        </FluentOption>
      }
    </FluentCombobox>
  }
  else
  {
    @if (Field.FieldType.IsEnum)
    {
      var values = Enum.GetNames(Field.FieldType);
      _commonAttributes["Appearance"] = Appearance.Filled;

      <FluentSelect Items=@values
                    OptionText="@(val => ReflectionUtilites.GetEnumCaption(Field.FieldType.GetMember(val).FirstOrDefault()) ?? val)"
                    OptionValue="@(val => val)"
                    Value="@( Enum.GetName(Field.FieldType, Field.InternalGet(Data)!))"
                    ValueChanged="(val) => { if (val != null) Field.InternalSet(Data, Enum.Parse(Field.FieldType, val.ToString())); }"
                    Placeholder="@Field.PlaceHolder"
                    @attributes="@_commonAttributes" />

    }
    else
    {
      <p>Not defined @Field.FieldType.ToString()</p>
    }
  }
  @if (HasLookup)
  {
    _commonAttributes["Appearance"] = Appearance.Filled;
    var values = Field.OnLookup?.Invoke(Data) ?? new Dictionary<object, string>();
    <FluentMenu Anchor="@_id" @bind-Open="LookupOpen" HorizontalPosition="HorizontalPosition.End" Width="200px" Anchored="true">
      @foreach (var item in values)
      {
        <FluentMenuItem OnClick="@(() => Field.InternalSet(Data, item.Key))">
          @((MarkupString)item.Value)
        </FluentMenuItem>
      }
    </FluentMenu>
  }

}


@* ReSharper disable once InconsistentNaming *@
@code {

  RenderFragment DrillDownOrLookup(FormFields<T> self) => __builder =>
  {
    @if (self.HasDrillDown)
    {
      <FluentIcon Value="@(new Icons.Regular.Size16.MoreHorizontal())" Color="@Color.Neutral" Slot="end" OnClick="@(() => { self.Field.InternalDrillDown(self.Data); })" />
    }
    else if (self.HasLookup)
    {
      <FluentIcon Value="@(new Icons.Regular.Size16.ChevronDown())" Color="@Color.Neutral" Slot="end" OnClick="@(() => { self.LookupOpen = !self.LookupOpen; })" />
    }
  };
}


<style>
  .FullSpanWidth {
    min-width: 50%;
    width: inherit;
    max-width: 80%;
  }

  .AfterFullSpanWidth::after {
    content: "";
    min-width: 50%;
    width: inherit;
    max-width: 80%;
  }

  .AfterFullSpanWidth {
    min-width: 50%;
    width: inherit;
    max-width: 80%;
  }
</style>