@{
    var PageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
    var Subforms = AttributesUtils.GetPropertiesWithAttribute<SubformAttribute>(this);
    var BasicActions = AttributesUtils.GetModelsWithAttribute<BasicActionsAttribute>(this).FirstOrDefault() ?? new BasicActionsAttribute(false, false, false);
}
@typeparam T
@inherits BlazorgenBaseComponent

<Layout>
    <LayoutHeader>
        <ActionBar PageActions="@PageActions" Context="this"></ActionBar>
    </LayoutHeader>
    <LayoutContent Height="Height.Auto">
        <Container Fluid>
            <Card Margin="Margin.Is4.FromBottom">
                <CardBody>
                    <Row>
                        @foreach (var fld in VisibleFields)
                        {

                            <Column ColumnSize="@fld.ColumnSize">
                                <Field Horizontal="true">
                                    <FieldLabel>@(fld.Caption): </FieldLabel>
                                    <FieldBody>
                                        @switch (fld.FieldType)
                                        {
                                            case BlazorGenerator.Enum.FieldType.Numeric:
                                                <BlazorGenerator.Pages.Partials.Numeric T="T" Data="Data" Field="fld" />
                                                break;
                                            case BlazorGenerator.Enum.FieldType.Boolean:
                                                <BlazorGenerator.Pages.Partials.Checkbox T="T" Data="Data" Field="fld" />
                                                break;
                                            case BlazorGenerator.Enum.FieldType.Select:
                                                <BlazorGenerator.Pages.Partials.Dropdown T="T" Data="Data" Field="fld" />
                                                break;
                                            case BlazorGenerator.Enum.FieldType.Button:
                                                <BlazorGenerator.Pages.Partials.Btn T="T" Data="Data" Field="fld" />
                                                break;
                                            case BlazorGenerator.Enum.FieldType.Custom:
                                                <BlazorGenerator.Pages.Partials.Custom T="T" Data="Data" Field="fld" />
                                                break;
                                            default:
                                                <BlazorGenerator.Pages.Partials.Txt T="T" Data="Data" Field="fld" />
                                                break;
                                        }
                                    </FieldBody>
                                </Field>

                            </Column>
                        }

                    </Row>

                    <br />
                    @if (BasicActions.EditAction || BasicActions.NewAction)
                    {
                        <Button Clicked="@(() => OnModify(Data))" Color="Color.Secondary" Float="Float.End">Save</Button>
                    }
                </CardBody>
            </Card>

            @{
                foreach (var item in Subforms)
                {
                    <Card Margin="Margin.Is4.FromBottom">
                        <CardHeader>
                            <CardTitle>@item.Attribute.Caption</CardTitle>
                        </CardHeader>
                        <CardBody>
                            @{
                                var f = new RenderFragment(builder =>
                                {
                                    builder.OpenComponent(0, item.Property.PropertyType);
                                    builder.CloseComponent();
                                });

                                @f
                            }
                        </CardBody>
                    </Card>
                }
            }
        </Container>
    </LayoutContent>
</Layout>
