
<Router AppAssembly="@appAssembly" AdditionalAssemblies="@(UseDefaultTemplate ? new[] {typeof(BlazorGenApp).Assembly} : null)">
    <Found Context="routeData">
        <BlazorgenRouteView RouteData="@routeData" DefaultLayout="@typeof(DynamicMainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(DynamicMainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<link href="_content/BlazorGenerator/Styles/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
<link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet" />
<link href="_content/BlazorGenerator/Styles/Blazorgen.css" rel="stylesheet" />

<style>
    .b-bar-end .b-bar-link:hover, .b-bar-end .b-bar-dropdown-item:hover {
        background-color: transparent !important;
    }
</style>


@code{
    [Parameter]
    public Assembly appAssembly { get; set; }
    [Parameter]
    public bool UseDefaultTemplate { get; set; } = false;
}