@inherits BlazorGeneratorComponentBase

<FluentButton BackgroundColor="var(--neutral-fill-stealth-rest)" Title="Log" @onclick="OnOpen">
  <FluentIcon Value="@(new Icons.Regular.Size20.CodeText())" Color="Color.Neutral" Title="Log" />
</FluentButton>

<FluentDialog Class="log" @ref="_myFluentDialog" @bind-Hidden="@Hidden" aria-label="Simple dialog" Modal=true TrapFocus=true PreventScroll=false @ondialogdismiss=OnDismiss>
  <FluentDialogHeader Visible="false" />
  <FluentLabel Typo="Typography.PaneHeader">Log</FluentLabel><br />
  @if (UIServices.Logger.Logs.Count <= 0)
  {
    <FluentLabel>@Captions.Instance.NoLog</FluentLabel>
  }
  <div style="overflow-y:auto; height:80%">
    <Virtualize Items="UIServices.Logger.Logs">
      <FluentLabel Color="@(ConvertToColor(context.Item2))">
        @context.Item1
      </FluentLabel>
    </Virtualize>
  </div>
</FluentDialog>

<style>
  .log {
    --dialog-width: 60% !important;
    --dialog-height: 60% !important;
    padding: 2rem !important;
  }
</style>