@typeparam T


<DataGridColumn TItem="T"
        
                Caption="@Field.Caption"
                Editable="@Field.Editable"
                DisplayOrder="@Order"
                Filterable="true"
                Displayable="@(!Field.EditOnly)" Width="@Field.Width" SortDirection="@Field.Sort">
   
    <DisplayTemplate>

        <Button @onclick="@(() => Field.Setter(context, null))" Color="Color.Dark" Outline="true" PreventDefaultOnSubmit="true" Size="Size.Small">
            @Field.Caption
        </Button>
        </DisplayTemplate>

        <EditTemplate>
        @if (Field.Editable)
        {
            <Button @onclick="@(() => Field.Setter(context.Item, null))" Color="Color.Dark" Outline="true" PreventDefaultOnSubmit="true" Size="Size.Small">
                @Field.Caption
        </Button>
        }
        </EditTemplate>
    </DataGridColumn>

    @code {
    [Parameter]
    public VisibleField<T> Field { get; set; }
    [Parameter]
    public int Order { get; set; }

    [CascadingParameter]
    BlazorgenBaseComponent Parent { get; set; }

    [CascadingParameter]
    DataGrid<T> ParentGrid { get; set; }

    string selectedFilter { get; set; }
}
