@inherits LayoutComponentBase
@implements BlazorGenerator.DynamicComponents.IMainLayout

<FluentDesignTheme OfficeColor="@(BlazorGeneratorSettings.Instance.BaseColor)" @ref="Theme" StorageName="UITheme">
  <FluentLayout>
    <FluentHeader>
      <Back></Back>
      <FluentSpacer />
      @BlazorGeneratorSettings.Instance.ApplicationName
      <FluentSpacer />

      <div style="padding-right: 6px; margin-left: 0; margin-right: 25px;">
        <FluentButton BackgroundColor="var(--neutral-fill-stealth-rest)" OnClick="SwitchDarkLightTheme" Title="@Captions.Instance.ToggleDarkTheme">
          <FluentIcon Value="@(new Icons.Regular.Size20.DarkTheme())" Color="Color.Neutral" Title="@Captions.Instance.ToggleDarkTheme" />
        </FluentButton>
        <Log />
      </div>
      <FluentProfileMenu 
                         Initials="BG"
                         FullName="Bill Gates"
                         EMail="bill.gates@microsoft.com"
                         PopoverStyle="min-width: 330px;" >
        <FooterTemplate></FooterTemplate>
        </FluentProfileMenu>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%" VerticalGap="0" HorizontalGap="0">
      <NavMenu />
      <FluentBodyContent>
        <FluentLayout>
          <FluentBodyContent style="height: calc(100dvh); padding: 10px; ">
            <Progress></Progress>
            <UILock></UILock>
            <div class="content" style="display: flex; flex-direction: column; height: 100%; flex-flow: column;">
              @Body
            </div>

            <FluentDialogProvider />
            <FluentKeyCodeProvider />
          </FluentBodyContent>

        </FluentLayout>

      </FluentBodyContent>
    </FluentStack>
  </FluentLayout>

</FluentDesignTheme>
