@{
    var PageActions = AttributesUtils.GetMethodsWithAttribute<PageActionAttribute>(this);
    var BasicActions = AttributesUtils.GetModelsWithAttribute<BasicActionsAttribute>(this).FirstOrDefault() ?? new BasicActionsAttribute(false, false, false);
}
@typeparam T

<Layout>
    <LayoutHeader>
        <ActionBar PageActions="@PageActions" Context="this"></ActionBar>
    </LayoutHeader>
    <LayoutContent>
        <DataGrid TItem="T"
                  @ref="@_datagrid"
                  Data="@Data"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  @bind-SelectedRows="@SelectedRecs"
                  Resizable="true"
                  Striped="true"
                  ShowPager="false"
                  ShowPageSizes="false"
                  PageSize="int.MaxValue"
                  Filterable="true"
                  Responsive="true"
                  Narrow="true"
                  Editable
                  EditMode="@GetEditMode()"
                  NewItemCreator="@(() => CreateNewItem())"
                  RowInserted="@OnInsert"
                  RowRemoved="@OnDelete"
                  RowUpdated="@OnModify"
                  CommandMode="DataGridCommandMode.Commands">

            <DataGridColumns>
                <DataGridCommandColumn TItem="T" NewCommandAllowed="BasicActions.NewAction" EditCommandAllowed="BasicActions.EditAction" DeleteCommandAllowed="BasicActions.DeleteAction">
                    <NewCommandTemplate>
                        <Button Size="Size.ExtraSmall" Color="Color.Dark" Outline="true" Clicked="@context.Clicked"><span class="oi oi-plus" aria-hidden="true"></span>&nbsp;@context.LocalizationString</Button>
                    </NewCommandTemplate>
                    <EditCommandTemplate>
                        <Button Size="Size.ExtraSmall" Color="Color.Dark" Outline="true" Clicked="@context.Clicked"><span class="oi oi-pencil" aria-hidden="true"></span>&nbsp;@context.LocalizationString</Button>
                    </EditCommandTemplate>
                    <SaveCommandTemplate>
                        <Button Size="Size.ExtraSmall" Color="Color.Dark" Outline="true" PreventDefaultOnSubmit Clicked="@context.Clicked">@context.LocalizationString</Button>
                    </SaveCommandTemplate>
                    <DeleteCommandTemplate>
                        <Button Size="Size.ExtraSmall" Color="Color.Dark" Outline="true" Clicked="@context.Clicked"><span class="oi oi-trash" aria-hidden="true"></span>&nbsp;@context.LocalizationString</Button>
                    </DeleteCommandTemplate>
                    <CancelCommandTemplate>
                        <Button Size="Size.ExtraSmall" Color="Color.Dark" Outline="true" Clicked="@context.Clicked">@context.LocalizationString</Button>
                    </CancelCommandTemplate>
                    <ClearFilterCommandTemplate>
                        <Button Size="Size.ExtraSmall" Color="Color.Dark" Outline="true" Clicked="@context.Clicked"><span class="oi oi-cirlce-x" aria-hidden="true"></span>&nbsp;@context.LocalizationString</Button>
                    </ClearFilterCommandTemplate>
                </DataGridCommandColumn>
                @foreach (var fld in VisibleFields)
                {
                    switch (fld.FieldType)
                    {
                        case Generator.Enum.FieldType.Numeric:
                            <DataGridNumericColumn TItem="T"
                                                   Field="@fld.Name"
                                                   Caption="@fld.Caption"
                                                   Sortable="true"
                                                   Filterable="true" Editable="true" Displayable="@(!fld.EditOnly)">
                            </DataGridNumericColumn>
                            break;
                        case Generator.Enum.FieldType.Boolean:
                            <DataGridCheckColumn TItem="T" Field="@fld.Name" Caption="@fld.Caption" Editable="true" Sortable="true" Filterable="true" Displayable="@(!fld.EditOnly)">
                                <DisplayTemplate>
                                    <Check TValue="bool"
                                           Checked="@((bool)fld.Getter(context))" />
                                </DisplayTemplate>
                                <EditTemplate>
                                    <Check TValue="bool"
                                           Checked="@((bool)fld.Getter(context.Item))" @onchange="@((v)=> fld.Setter(context.Item,v.Value))" />
                                </EditTemplate>
                            </DataGridCheckColumn>
                            break;
                        case Generator.Enum.FieldType.Custom:
                            <DataGridColumn TItem="T"
                                            Field="@fld.Name" Caption="@fld.Caption" Editable="true" Displayable="@(!fld.EditOnly)">
                                <DisplayTemplate>
                                    <TextEdit Text="@((string) fld.Getter(context))"
                                              @onchange="@((e) => { fld.Setter(context, e.Value); })"
                                              Placeholder="@fld.Caption" ReadOnly="true"></TextEdit>
                                </DisplayTemplate>
                                <EditTemplate>
                                    <TextEdit Text="@((string) fld.Getter(context.Item))"
                                              TextChanged="@((v) => {
                                                                        fld.Setter(context.Item, v);
                                                                        context.CellValue = fld.Getter(context.Item);
                                                                    })"
                                              Placeholder="@fld.Caption"></TextEdit>
                                </EditTemplate>
                            </DataGridColumn>
                            break;
                        case Generator.Enum.FieldType.Select:
                            <DataGridSelectColumn TItem="T"
                                                  Field="@fld.Name"
                                                  Caption="@fld.Caption"
                                                  Sortable="true"
                                                  Filterable="true" Editable="true" Displayable="@(!fld.EditOnly)">
                                <DisplayTemplate>
                                    <Select TValue="string" SelectedValue="@(fld.Getter(context).ToString())"
                                            SelectedValueChanged="@((v) => fld.Setter(context, v))">
                                        @foreach (string item in fld.Values)
                                        {
                                            <SelectItem Value="@item">@(item.ToString())</SelectItem>
                                        }
                                    </Select>
                                </DisplayTemplate>
                                <EditTemplate>
                                    <Select TValue="string" SelectedValue="@(fld.Getter(context.Item).ToString())"
                                            SelectedValueChanged="@((v) => {
                                                                        fld.Setter(context.Item, v);
                                                                        context.CellValue = fld.Getter(context.Item);
                                                                    })">
                                        @foreach (string item in fld.Values)
                                        {
                                            <SelectItem Value="@item">@(item.ToString())</SelectItem>
                                        }
                                    </Select>
                                </EditTemplate>
                            </DataGridSelectColumn>
                            break;
                        default:
                            <DataGridColumn TItem="T"
                                            Field="@fld.Name"
                                            Caption="@fld.Caption"
                                            Sortable="true"
                                            Filterable="true" Editable="true" Displayable="@(!fld.EditOnly)" />
                            break;
                    }
                }
            </DataGridColumns>

        </DataGrid>
    </LayoutContent>
</Layout>