@{
    var PageActions = AttributesUtils.getMethodsWithAttribute<PageAction>(this);
}
@typeparam T
<div class="ListPage">
    <nav class="navbar navbar-expand-lg bg-light">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn btn-light @(((isEditable? "active":"")))" @onclick="@(() => Edit())">Edit</a>
            </li>
            @foreach (var test in PageActions)
            {
                <li class="nav-item">
                    <a class="nav-link btn btn-light" @onclick="@(() => test.Method.Invoke(this, null))">
                        <span class="@test.Attribute.Icon" aria-hidden="true"></span>
                        @(test.Attribute.Caption ?? test.Method.Name)
                    </a>
                </li>
            }
        </ul>
    </nav>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> </th>
                    @{
                        foreach (var fld in VisibleFields)
                        {
                            <th>@(fld.Caption)</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{

                    foreach (var item in Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="test"
                                       checked="@SelectedRecs.Contains(item)"
                                       @onchange="@((e) => { if ((bool)e.Value) { SelectedRecs.Add(item); } else { SelectedRecs.Remove(item); } } )" />
                            </td>

                            @foreach (var fld in VisibleFields)
                            {
                                <td>

                                    <input class="form-control" 
                                           value="@fld.Getter(item)" 
                                           @onchange="@((e)=> { fld.Setter(item, e.Value); })" 
                                           readonly="@(!isEditable)" />
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

