
<FluentGrid Style="" Justify="JustifyContent.FlexStart" Spacing="1" Class="actionblock" >
  <FluentGridItem Justify="JustifyContent.FlexStart" Style="" >
    <FluentLabel Typo="Typography.PaneHeader" Style="vertical-align: text-top; padding-bottom: 0;">
      @((Context as BlazorGeneratorComponentBase)?.Title)
    </FluentLabel>
  </FluentGridItem>
  <FluentOverflow Style="width: 100%; margin-bottom: 5px; ">
    <ChildContent>
      @{
        PopulateDictionary();
        foreach (var item in ActionGroups)
        {
          var filtered = PageActions.Where(o =>
    o.Attribute.Group == item.Key);
          if (item.Key.ToLower() == "default" || item.Value == 1)
          {
            foreach (var action in filtered)
            {
              <FluentOverflowItem>
                <FluentGridItem xs="12" sm="6" md="0">
                  <FluentButton OnClick="@(() => ReflectionUtilites.InvokeAction(action.Method, Context))">
                    @(action.Attribute.Caption ?? action.Method.Name)
                    <span slot="start">
                      <FluentIcon Value="@(action.Attribute.Icon.ToFluentIcon())" Slot="start" Color="Color.Neutral" />
                    </span>
                  </FluentButton>
                </FluentGridItem>
              </FluentOverflowItem>
            }
          }
          else
          {

            PopOverBind.TryAdd(@item.Key, false);
            <FluentOverflowItem >
              <FluentGridItem xs="12" sm="6" md="0">
                <FluentButton id="@item.Key" @onclick="() => PopOverBind[item.Key] = !PopOverBind[item.Key]">
                  @item.Key
                  <FluentIcon Value="@( new Icons.Regular.Size16.ChevronDown())" Slot="end" Color="Color.Neutral" />
                </FluentButton>
              </FluentGridItem>
            </FluentOverflowItem>
            <FluentPopover AnchorId="@item.Key" @bind-Open="PopOverBind[item.Key]" HorizontalPosition="HorizontalPosition.Right">
              <Body>
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">

                  @foreach (var action in filtered)
                  {
                    <FluentButton OnClick="@(() => { PopOverBind[item.Key] = false; _ = ReflectionUtilites.InvokeAction(action.Method, Context); })">
                      @(action.Attribute.Caption ?? action.Method.Name)
                      <span slot="start">
                        <FluentIcon Value="@action.Attribute.Icon.ToFluentIcon()" Slot="start" Color="Color.Neutral" />
                      </span>
                    </FluentButton>
                  }
                </FluentStack>
              </Body>
            </FluentPopover>

          }
        }


      }
    </ChildContent>
    <MoreButtonTemplate>
      <FluentButton OnClick="@(()=> OpenMore = !OpenMore)">...</FluentButton>
    </MoreButtonTemplate>
    <OverflowTemplate>
      <FluentPopover AnchorId="@context.IdMoreButton" @bind-Open="@OpenMore" HorizontalPosition="HorizontalPosition.Left" Style="width: 300px;" >
        <Body>
          <FluentGrid Style="overflow: hidden; flex: 0 0 auto; margin-bottom: 5px" Justify="JustifyContent.FlexStart" Spacing="1">
            @foreach (var item in context.ItemsOverflow)
            {
              <slot></slot>
              @item.ChildContent
            }
            </FluentGrid>
        </Body>
      </FluentPopover>
    </OverflowTemplate>

  </FluentOverflow>

</FluentGrid>

<style>
  .fluent-popover-content {
    padding: 5px !important;
  }
</style>


