<FluentInputFile Id="my-file-uploader"
                 Mode="InputFileMode.Stream"
                 Multiple="@Content.Multiple"
                 MaximumFileCount="@Content.MaximumFileCount"
                 Accept="@Content.FileFilters"
                 @bind-ProgressPercent="@_progressPercent"
                 OnCompleted="@OnCompletedAsync"
                 Style="height: 200px; border: 1px dashed var(--accent-fill-rest);">
  <ChildContent>
    <label for="my-file-uploader">
      <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
    </label>

    <div>
     @Captions.Instance.FileInputMessage <label for="my-file-uploader">@Captions.Instance.Browse</label>.
    </div>

  </ChildContent>
</FluentInputFile>
