
<FluentToolbar Style="min-width:100%; margin-bottom:10px; border-radius:5px; padding:5px; vertical-align:middle">
  <FluentLabel Typo="Typography.PaneHeader" Style="vertical-align:text-top;">
    @((Context as BlazorgenComponentBase)?.Title)
  </FluentLabel>

  <FluentDivider Style="height: 20px; width: 20px;" Orientation="Orientation.Vertical"></FluentDivider>

  @{
    PopulateDictionary();
    foreach (var item in ActionGroups)
    {
      var filtered = PageActions.Where(o =>
o.Attribute.Group == item.Key);
      if (item.Key.ToLower() == "default" || item.Value == 1)
      {
        foreach (var action in filtered)
        {
          <FluentButton OnClick="@(() => action.Method.Invoke(Context, null))">
            @(action.Attribute.Caption ?? action.Method.Name)
            <span slot="start">
              <FluentIcon Value="@(action.Attribute.Icon.ToFluentIcon())" Slot="start" Color="Color.Neutral" />
            </span>
          </FluentButton>
        }
      }
      else
      {

        PopOverBind.TryAdd(@item.Key, false);

        <FluentButton id="@item.Key" @onclick="() => PopOverBind[item.Key] = !PopOverBind[item.Key]">
          @item.Key
          <FluentIcon Value="@( new Icons.Regular.Size16.ChevronDown())" Slot="end" Color="Color.Neutral" />
        </FluentButton>

        <FluentPopover AnchorId="@item.Key" @bind-Open="PopOverBind[item.Key]" HorizontalPosition="HorizontalPosition.Right">
          <Body>
            @foreach (var action in filtered)
            {
              <FluentButton OnClick="@(() => action.Method.Invoke(Context, null))">
                @(action.Attribute.Caption ?? action.Method.Name)
                <span slot="start">
                  <FluentIcon Value="@action.Attribute.Icon.ToFluentIcon()" Slot="start" Color="Color.Neutral" />
                </span>
              </FluentButton>
            }
          </Body>
        </FluentPopover>

      }
    }

  }

</FluentToolbar>

<style>
  .fluent-popover-content{
      padding: 5px !important;
  }
</style>


