@inherits BlazorgenComponentBase;
<div class="navmenu" style=" background: var(--neutral-fill-stealth-rest); height: 100%; box-shadow: 1px 0px 5px var(--neutral-fill-stealth-rest); border-radius: 10px; ">
  <FluentLayout >
    <FluentBodyContent>
      <FluentNavMenu @bind-Expanded="@Expanded" Width="250" Collapsible="true" CollapsedChildNavigation="true" Title="Collapsible demo">
        <FluentNavLink Href="@NavManager?.BaseUri" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent" Tooltip="@Captions.Instance.Home">@Captions.Instance.Home</FluentNavLink>


        @{
          foreach (var item in MenuGroups.Where(o => o.Key.ToLower() == "default"))
          {
            var filtered = Menus.Where(o => (o.Group == item.Key)).OrderBy(o => o.OrderSequence);
            foreach (var elem in filtered)
            {
              <FluentNavLink Href="@elem.Route" Match="NavLinkMatch.All" Icon="@(elem.Icon.ToFluentIcon())" IconColor="Color.Accent" Tooltip="@elem.Title">@elem.Title</FluentNavLink>

            }
          }
          foreach (var item in MenuGroups.Where(o => o.Key.ToLower() != "default"))
          {
            var filtered = Menus.Where(o => (o.Group == item.Key)).OrderBy(o => o.OrderSequence);
            if (item.Key.ToLower() == "default" || item.Value == 1)
            {
              foreach (var elem in filtered)
              {
                <FluentNavLink Href="@elem.Route" Match="NavLinkMatch.All" Icon="@(elem.Icon.ToFluentIcon())" IconColor="Color.Accent" Tooltip="@elem.Title">@elem.Title</FluentNavLink>

              }
            }
            else
            {
              <FluentNavGroup Id="@item.Key" Title="@item.Key" Tooltip="@item.Key" Icon="@(new Icons.Regular.Size24.LeafOne())">
                @foreach (var elem in filtered)
                {
                  <FluentNavLink Href="@elem.Route" Match="NavLinkMatch.All" Icon="@(elem.Icon.ToFluentIcon())" IconColor="Color.Accent" Tooltip="@elem.Title">@elem.Title</FluentNavLink>

                }
              </FluentNavGroup>
            }
          }
        }
      </FluentNavMenu>
    </FluentBodyContent>
    @if (FooterLink != null)
    {
    <FluentFooter Style="font-family: var(--body-font); font-weight: normal; font-size: var(--type-ramp-base-font-size); line-height: var(--type-ramp-base-line-height);">
      <FluentNavMenu Expanded="Expanded">
        <FluentNavLink Href="@FooterLink.Route" Target="_blank" Icon="@(FooterLink.Icon.ToFluentIcon())" IconColor="Color.Accent" Tooltip="@FooterLink.Title">@FooterLink.Title</FluentNavLink>
      </FluentNavMenu>
    </FluentFooter>
    }
  </FluentLayout>
</div>
