@inherits LayoutComponentBase
@implements IMainLayout

<FluentDesignTheme OfficeColor="@(BlazorGeneratorSettings.Instance.BaseColor)" @ref="Theme" StorageName="UITheme">
  <FluentLayout>
    <FluentHeader>
      <Back></Back>
      <FluentSpacer />
      @BlazorGeneratorSettings.Instance.ApplicationName
      <FluentSpacer />
      <div style="padding-right: 6px; margin-left: 0; margin-right: -15px;">
        <FluentButton BackgroundColor="var(--neutral-fill-stealth-rest)" OnClick="SwitchDarkLightTheme" Title="@Captions.Instance.ToggleDarkTheme">
          <FluentIcon Value="@(new Icons.Regular.Size20.DarkTheme())" Color="Color.Neutral" Title="@Captions.Instance.ToggleDarkTheme" />
        </FluentButton>
        <Log />
        @if (BlazorGeneratorSettings.Instance.ShowHelpButton)
        {
        <FluentButton BackgroundColor="var(--neutral-fill-stealth-rest)" Title="Help" OnClick="@(()=> HelpService?.GetHelp((Body.Target as RouteView).RouteData.PageType))">
          <FluentIcon Value="@(new Icons.Regular.Size20.Question())" Color="Color.Neutral" Title="Help" />
        </FluentButton>
        }
      </div>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%" VerticalGap="0" HorizontalGap="0">
      <NavMenu />
      <FluentBodyContent>
        <FluentLayout>
          <FluentBodyContent style="height: calc(100dvh); padding: 10px; ">
            <Progress></Progress>
            <UILock></UILock>
            <div class="content" style="display: flex; flex-direction: column; height: 100%; flex-flow: column;">
              @Body
            </div>

            <FluentMenuProvider />
            <FluentDialogProvider />
            <FluentKeyCodeProvider />

          </FluentBodyContent>

        </FluentLayout>

      </FluentBodyContent>
    </FluentStack>
  </FluentLayout>

</FluentDesignTheme>
